
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Sans-serif;
  list-style: none;
  text-decoration: none;
}

.flex, .homepage {
  width: 100%;
  background-color: #008545;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.flex {
  height: 8vh;
}

.homepage {
  height: 30vh;
  flex-direction: column;
}

.homepage h1 {
  font-size: 1rem;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
}

.homepage p {
  font-size: 3rem;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
}

.homepage p span {
  color: yellow;
}

/* Counter section */
.counter {
  width: 100%;
  height: auto;
  text-align: center;
}

.counter h1 {
  margin: 20px 0;
  font-size: 2rem;
}

.counter p {
  margin: 20px 0;
  font-size: 1.5rem;
}

/* Button styles */
.btn {
  display: inline-block;
  margin: 10px 25px;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  border: none;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #3E3E3E;
  color: #fff;
}

/* Input styles */
.input {
  display: block;
  margin: 20px auto;
  padding: 5px;
  font-size: 1.5rem;
  width: 80%;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #008545;
  padding: 1rem;
  width: 100%;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family: 'Sora', sans-serif;
  font-size: 1.25rem;
}

.navbar li {
  font-weight: 200;
  transition: 0.3s;
}

.navbar li.active {
  font-weight: 200;
}

.navbar li a {
  text-decoration: none;
  color: #fff;
}

.navbar li a:hover {
  color: #fff;
}

/* Error page styles */
.error-page {
  width: 100%;
}

h1 {
  text-align: center;
  padding: 2rem 0.75rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .flex, .homepage {
    flex-direction: column;
  }

  .homepage h1 {
    font-size: 2rem;
  }

  .homepage p {
    font-size: 2rem;
  }

  .counter p {
    font-size: 1.25rem;
  }

  .btn {
    padding: 0.4rem 1rem;
  }
}
